NEXT_PUBLIC_APP_URL=https://itfehervar.hu
NEXT_PUBLIC_SITE_URL=https://itfehervar.hu
NEXT_PUBLIC_SIRONIC_PHONE="+36 70 273 5532"
NEXT_PUBLIC_GA_ID=G-8C38YTQSQ6
SIROTECH_ADMIN_EMAIL=szia@itfehervar.hu
SMTP_HOST=smtp.forpsi.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=noreply@itfehervar.hu
SMTP_PASS=
